@model IEnumerable<CIMS.Models.Status>

@{
    ViewBag.Title = "Status Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-inline">
    <p class="pull-right d-inline">
        @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-outline-success" })
        @Html.ActionLink("Reactivate", "Activate", null, new { @class = "btn btn-outline-primary" })
    </p>
</div>
<table class="table">
    <tr>
        <th>
            Instrucion Type
        </th>
        <th>
            Instructions Status
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InstructionType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StatusID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StatusID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StatusID })
        </td>
    </tr>
}

</table>
